%p#notice= notice

%ul.nav.nav-tabs{"data-tabs" => "tabs"}
  %li.active
    %a{"data-toggle" => "tab", :href => "#personal_informations"} About me
  %li
    %a{"data-toggle" => "tab", :href => "#my_tournaments"} My tournaments
  %li
    %a{"data-toggle" => "tab", :href => "#my_games"} My games

.tab-content
  #personal_informations.tab-pane.active
    .table_responsive
      .clearfix
        = image_tag(@profile.avatar.url, :id => "avatar", :class => "pull-left gap-right img-rounded gap-top") if @profile.avatar? 
        .container
          .games
            %p
              %h2.titre
                = @user.username
            %p
              %strong Age:
              = @profile.date_of_birth
            %p
              %strong Country:
              = @profile.country
            %p
              %strong Victories:
              = @profile.victories
            %p
              %strong Defeats:
              = @profile.defeats
            %p
              %strong Ratio:
              = @profile.ratio
            %p
              %strong Score:
              = @profile.score
    = link_to 'Edit', edit_profile_path(@profile)

  #my_tournaments.tab-pane
    .table-responsive
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th Description
            %th Date
            %th Place
            %th Max Player
            %th Games
            %th
        - @tournaments.each do |tournament|
          %tr
            %td= tournament.name
            %td= tournament.description
            %td= tournament.date
            %td= tournament.place
            %td= tournament.max_player
            %td
              %ul
              - tournament.games.each do |game|
                %li= link_to game.name, game

  #my_games.tab-pane
    .table-responsive
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th Name
            %th Released at
            %th Platform
            %th Company
            %th Grade
            %th

      - @games.each do |game|
        %tr
          %td= game.name
          %td= game.released_at
          %td= game.platform
          %td= game.company
          %td= game.grade
        %li= link_to game.name, game







    


    