- @tournaments_list.each do |tournament|
  - if tournament.date > Date.today || tournament.max_player <= tournament.users.count
    - style = "panel-primary"
  - else
    -style = "panel-success"   
  .panel{:class => style}
    .panel-heading
      = tournament.name
    .panel-body
      .tournament_infos
        %p
          %span.glyphicon.glyphicon-calendar
          Date:
          = tournament.date

        %p
          %span.glyphicon.glyphicon-pushpin
          Place:
          = tournament.address
        %p
          %span.glyphicon.glyphicon-user
          Max Player:
          = tournament.max_player

      .games_logo
        - @logos = tournament.games.first(5)
        - @logos.each do |logo|
          = image_tag(logo.cover.url, :id => "cover", :class => "img-rounded") if logo.cover?

      .tournament_button
        = link_to('Learn more', tournament, :class => "btn btn-primary" )
        - if user_signed_in? && !current_user.tournaments.include?(tournament) && style == "panel-primary" && (can? :register, Tournament)
          = link_to("Register now !", tournaments_register_path(:id => tournament.id), :class => "btn btn-primary")
        - elsif user_signed_in? && current_user.tournaments.include?(tournament)
          %p You've already registered !