%p#notice= notice

.container
  / ----
  #content
    %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#about_the_tournament"} About the tournament
      %li
        %a{"data-toggle" => "tab", :href => "#games_and_matches"} Games and matches
      %li
        %a{"data-toggle" => "tab", :href => "#ranking"} Ranking

    .tab-content
      #about_the_tournament.tab-pane.active
        .container
          .games
            %p
              %h2.titre
                = @tournament.name  
            %p
              %h3.desc
                = @tournament.description
            %p
              %strong Date:
              = @tournament.date
            %p
              %strong Place:
              = @tournament.place
            %p
              %strong Maximal number of players:
              = @tournament.max_player        
            - if user_signed_in? && !current_user.tournaments.include?(@tournament)
              = link_to "Register for this tournament", tournaments_register_path(:id => @tournament.id), :class => "btn btn-primary"

      #games_and_matches.tab-pane
        - @tournament.games.each do |game|
          .panel.panel-default
            .panel-heading
              = link_to game.name, game
            .panel-body
              - if user_signed_in? && current_user.tournaments.include?(@tournament)
                = link_to("Register for a match !", tournaments_register_match_path(:id => @tournament.id, :game_id => game.id), :class => "btn btn-primary")
            %ul.list-group
              - @tournament.matches.each do |match|
                -if match.game == game
                  %li.list-group-item
                    %p.players.players_1
                      -if match.player_1.presence
                        = match.player_1.username
                    %p.score
                      = match.player_1_score 
                      %span - 
                      = match.player_2_score
                    %p.players.players_2
                      -if match.player_2.presence                        
                        = match.player_2.username
                    - if !match.player_1.blank? && !match.player_2.blank? && match.player_1_score == nil && match.player_2_score == nil
                      %p.save_score
                        = link_to("Save a score", edit_match_path(:id => match.id), :class => "btn btn-primary")
                        


            
      #ranking.tab-pane
        %p
          %strong Ranking:
          %table.table.table-hover.table-condensed
            %thead
              %tr
                %th Rank
                %th Player
                %th Points
            - compt = 1
            - @users_and_victories.each do |user,victories|
              %tr
                %td
                  = compt
                %td 
                  = user.username
                %td 
                  = victories
                - compt+=1







