%p#notice= notice

.container
  .games
    %p
      %h2.titre
        = @tournament.name  
    %p
      %h3.desc
        = @tournament.description
    %p
      %strong Date:
      = @tournament.date
    %p
      %strong Place:
      = @tournament.place
    %p
      %strong Maximal number of players:
      = @tournament.max_player
    %p
      %strong Games:
      %table
        - @tournament.games.each do |game|
          %tr
            %td= link_to game.name, game           
            - if logged_in? && current_user.tournaments.include?(@tournament)
              %td= link_to "Match !", tournaments_register_match_path(:id => @tournament.id, :game_id => game.id)

  - if logged_in?
    = link_to "Register for this tournament", tournaments_register_path(:id => @tournament.id)


= link_to 'Edit', edit_tournament_path(@tournament)
= link_to 'Back', tournaments_path
