%h1 Listing games
= link_to 'New Game', new_game_path
%p
.container
  .row
    .col-md-offset
      - @games.each do |game|
        .col-md-3.classeImage
          = link_to game.name, game
          .clearfix
            .img-thumbnail
              = image_tag(game.cover.url, :id => "cover", :class => "img-rounded") if game.cover?
          %td= link_to 'Edit', edit_game_path(game)
          %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

    


