%p#notice= notice

.clearfix
  = image_tag(@game.cover.url, :id => "cover", :class => "pull-left gap-right img-rounded gap-top") if @game.cover? 
  .container
    .games
      %p
        %h2.titre
          = @game.name
      %p
        %h5.desc
          = @game.description
      %p
        %strong Released at:
        = @game.released_at
      %p
        %strong Platform:
        = @game.platform
      %p
        %strong Company:
        = @game.company
      %p#grade
        = render 'game_grade'

      %p
        = link_to games_change_grade_path(@game, :value => "up"), :remote => true do
          %i.glyphicon.glyphicon-plus
        = link_to games_change_grade_path(@game, :value => "down"), :remote => true do
          %i.glyphicon.glyphicon-minus


= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
